
.period__btn_item, .period__btn_item_view {
    display: inline-block;
    height: 100%;
    width: 25%;
    border: none;
    background-color: white;
    cursor: pointer;
    border: 2px solid #B0AFAF;
}

.period__btn_item_view {
    width: 33.33%;
    font-size: 12px;
    word-break: break-word;
    word-wrap: break-word;
}

.period__btn_item:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.period__btn_item:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
}

.period__btn_item:hover, .period__btn_item_view:hover {
    border: 2px solid #3182CC;
}

.active_btn{
    border-color: #3182CC;
}

